.u-mr8 {
    margin-right: 8px;
}
.u-btn {
    color: #fff;
    background-color: rgba(49, 117, 204, 0.8);
    border-color: #3175CC;
}
.u-btn:hover {
    color: #fff;
    background-color: #3175CC;
}
/*-------------------------------------
  ログイン
-------------------------------------*/
.login-wrapper {
    padding-bottom: 30px;
}
/*-------------------------------------
  パスワードリセット
-------------------------------------*/
.passwordreset-wrapper {
    padding: 30px 0;
}
/*-------------------------------------
  ホーム
-------------------------------------*/
pre {
    border: none;
    background-color: #f7f7f7;
    padding: 16px;
    border-radius: 3px;
    overflow: auto;
}
.brand-logo {
    color: #3175CC !important;
    font-family: 'Comfortaa', cursive;
    /*font-family: 'Quicksand', sans-serif;*/
    font-size: 35px;
}
.navbar-default {
    /*background-color: inherit !important;*/
    /*margin-bottom: 0;*/
}
.img-rounded {
    border-radius: 1px;
}
.img-profile-icon {
    height: 22px;
}
.snippet-container {
    padding: 15px 15px 50px 15px;
}
.no-post-yet {
    padding: 15px 0 0 0;
}
.blue-knowledge-list {
    padding: 0;
    margin: 10px 0;
}
.blue-knowledge-list > li {
    display: table;
    padding: 10px 0;
    width: 100%;
    border-top: 1px #ccc solid;
    list-style: none;
}
.blue-knowledge-list > li:first-child {
    border-top: none;
}
.blue-knowledge-list-info {
    display: table-cell;
    padding-left: 16px;
    width: 100%;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.blue-knowledge-list-title {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #337ab7;
    /*line-height: 24px;*/
    text-decoration: none;
}
.blue-knowledge-list-title:hover,
.blue-knowledge-list-title:visited {
    color: #685987;
}
.blue-knowledge-list-thumb {
    display: table-cell;
    width: 40px;
    height: 40px;
}
.blue-knowledge-list-name {
    float: right;
    margin: 0 0 0 12px;
    font-size: 13px;
    font-weight: bold;
    color: #555;
}
.blue-knowledge-list-date {
    float: right;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: bold;
    color: #555;
}
.user-info {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 5px;
    margin-bottom: 15px;
    background-color: #eee;
}
.user-info img {
    height: 48px;
    width:  48px;
}
.user-info-left, .user-info-right {
    display: inline-block;
    /*vertical-align: top;*/
}
.user-info-name {
    padding-left: 5px;
}
.ad-banner-blog {
    padding-top: 15px;
    padding-bottom: 15px;
}
.news-title__area {
    border: 1px dotted #ccc;
    border-radius: 3px;
    padding: 10px 5px;
    font-size: 12px;
    /*font-weight: bold;*/
    margin-top: 10px;
    margin-bottom: 5px;
}
.news-title__area p {
    margin: 0 15px 0 0;
}
.news-title__area .news-title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}
.news-pickup {
    padding-left: 5px;
}
.news-pickup__date {
    font-weight: bold;
    font-size: 12px;
    color: #FF0000;
}
.news-pickup__title {
    padding: 0 5px;
    font-weight: bold;
}
.news-pickup__description {
    padding: 5px;
}

/*よくある質問*/
.faq-title {
    border: 1px dotted #ccc;
    border-radius: 3px;
    padding: 10px 5px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
.accordion {
    margin-top: 5px;
}
.accordion:first-child {
    margin-top: 0;
}
.accordion-heading {
    border: 1px solid #ccc;
    background-color: #DFF6FF;
}
.accordion-heading > a {
    color: #555;
    font-size: 12px;
    padding: 8px 15px;
    display: block;
    text-decoration: none;
}
.accordion-inner {
    border: 1px solid #ccc;
    padding: 8px 15px;
    color: #555;
    font-size: 12px;
}
.accordion-inner {
    border-top: none;
}

/*通知*/
.notification-wrapper {
    padding: 13px 15px;
    line-height: 20px;
}
.notification-count {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    cursor: pointer;
    display: inline-block;
    color: rgba(255,255,255,0.8);
    min-width: 22px;
    height: 22px;
    padding: 0 3px;
    margin: 1px 0;
    line-height: 22px;
    text-align: center;
    background-color: rgba(0,0,0,0.12);
    font-size: 14px;
    font-weight: 500
}

.globalNotifications_container {
    display: none;
}

.globalNotifications_arrow:before {
    content: '';
    position: absolute;
    top: 42px;
    right: 19px;
    border-bottom: 8px solid rgba(0,0,0,0.2);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.globalNotifications_arrow:after {
    content: '';
    position: absolute;
    top: 43px;
    right: 19px;
    border-bottom: 8px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    z-index: 1001;
}

.globalNotifications_contents {
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    top: 50px;
    width: 350px;
    right: -40px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    z-index: 1000;
}

.globalNotifications_contentsHeader {
    -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.07);
    box-shadow: 0 2px 1px rgba(0,0,0,0.07);
    font-size: 95%;
    line-height: 1.6;
    padding: 8px 10px 5px;
}

.globalNotifications_contentsBody {
    border-top: solid 1px rgba(0,0,0,0.2);
    overflow-y: auto;
    max-height: 400px;
}

.globalNotificationContents_listItem:first-child {
    border-top: 0;
}

.globalNotificationContents_listItem {
    clear: both;
    border-top: solid 1px rgba(0,0,0,0.2);
}

.globalNotificationContents_listItem:hover {
    background-color: #d8f3d4;
}

.globalNotifications_contentsBody a:link {
    color: #4a4a4a;
    text-decoration: none;
}

.globalNotificationContents_itemLink {
    display: block;
}

.globalNotificationContents_itemIcon {
    float: left;
    padding: 5px 5px;
}

.globalNotificationContents_itemIcon img {
    width: 30px !important;
    height: 30px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.globalNotificationContents_itemText {
    margin-left: 40px;
    padding: 5px 0;
    font-size: 12px;
    line-height: 16px;
    color: #555;
}

.globalNotificationContents_itemText .bold {
    color: #337ab7;
    font-weight: 900;
}

.globalNotificationContents_itemText .title {
    color: #333;
    font-weight: 900;
}

.globalNotificationContents_itemText .status {
    color: #999;
    font-size: 11px;
    font-weight: 200;
}

.globalNotifications_contentsFooter {
    -webkit-box-shadow: 0 -2px 1px rgba(0,0,0,0.07);
    box-shadow: 0 -2px 1px rgba(0,0,0,0.07);
    font-size: 90%;
    text-align: center;
}
/*-------------------------------------
  お知らせ一覧
-------------------------------------*/
.info-wrapper {
    padding: 10px 0;
}
.info-list {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.info-list__date {
    font-weight: bold;
    color: #f00;
}
.info-list__title {
    font-weight: bold;
}
.info-list__description {
    padding: 10px 0;
}
/*-------------------------------------
  Snippet Form
-------------------------------------*/
.btn-post {
    margin-bottom: 20px;
}
.snippet-form-title {
    margin-bottom: 15px;
}
.snippet-form-title input {
    height: 56px;
    font-size: 28px;
}
.snippet-form-tag {
    margin-bottom: 15px;
}
.snippet-form-wrapper {
    padding: 20px 15px 30px;
    /*background-color: #f8faf7;*/
    background-color: #f3faf8;
}
.select2-container {
    width: 100% !important;
}
.snippet-body-wrapper {
    margin-bottom: 15px;
}
.snippet-form-body {
    min-height: 500px;
    width: 100%;
    resize:none;
}
.one-brefore-snippet {
    max-height: 300px;
    background-color: #fff;
    padding: 6px 12px;
    margin: 15px 0 30px 0;
    overflow: auto;
}
.one-brefore-snippet > pre {
    border: none;
    background-color: #f7f7f7;
    padding: 16px;
    border-radius: 3px;
}
.form-control:focus {
    box-shadow: none;
}
.snippet-form-tabs {
    font-size: 0;
    color: #999;
    border-radius: 4px 4px 0 0;
    background-color: #fafafa;
}
.snippet-form-tab {
    padding: 10px 15px;
    width: 100px;
    font-size: 14px;
    border: none;
    background-color: inherit;
    outline: none;
    -webkit-appearance: none;
    border-radius: 5px 0 0 0;
}
.snippet-form-body-panel textarea {
    border: none;
    outline: none;
    border-radius: 0;
    box-shadow: none;
}
.modal-content table thead {
    color: #999;
}
.markdownHelp_body {
    overflow-y: auto;
    max-height: 450px;
}
.snippet-body-left {
    min-height: 500px;
    background-color: #fff;
    padding: 0;
    border-radius: 5px 0 0 5px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.snippet-body-right {
    min-height: 500px;
    background-color: #fff;
    padding: 0;
    border-radius: 0 5px 5px 0;
    border: 1px solid #ddd;
}
.snippet-form-body-preview-panel {
    padding: 6px 12px;
    max-height: 500px;
    overflow: auto;
    min-height: 500px;
}
.snippet-form-body-preview-panel > pre {
    border: none;
    background-color: #f7f7f7;
    padding: 16px;
    border-radius: 3px;
}
/*-------------------------------------
  Snippet
-------------------------------------*/
.snippet-user-thumb {
    width: 23px;
    height: 23px;
    margin: 0 5px;
}

.snippet-user-name {
    color: #fff;
}

.snippet-user-name:hover {
    color: #fff;
}

.item-header {
    /*background-color: #31a5cc;*/
    background-color: #3175CC;
    color: #fff;
    margin-bottom: 30px;
    padding: 30px 0;
    /*height: 250px;*/
}

.snippet-formed-user {
    padding: 15px 0;
}

.item-body {
    padding-bottom: 50px;
}
.item-body > .container > pre {
    border: none;
    background-color: #f7f7f7;
    padding: 16px;
    border-radius: 3px;
    overflow: auto;
}
.stock-list {
    border-right: 1px solid #fff;
}
.stock-list-wrapper {
    margin-left: 0;
    font-size: 0;
}
.stock-list-wrapper i {
    font-size: 14px;
}
.list-inline > li.stock-list,
.list-inline > li.comment-list {
    padding: 0;
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.comment-count-text,
.stock-count-text {
    font-size: 14px;
}
.count-num {
    font-size: 22px;
    font-weight: 500;
}

.dropdown-form-button {
    text-align: left;
    -webkit-appearance: none;
    border: none;
    margin: 0;
    background-color: inherit;
    width: 100%;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.dropdown-form-button:hover {
    color: #262626;
    background-color: #f5f5f5;
}
.biita-blog-ad {
    border-top: 1px dotted #ccc;
    margin-top: 30px;
    padding-top: 20px;
}
.item-comment {
    margin: 15px 0 5px 0;
    padding: 15px 0;
    border-top: 1px solid #eee;
}

/*コメント一覧*/

.comment-wrapper {
    margin-top: 10px;
    padding-top: 20px;
    border-top: solid 1px #ccc;
}

.comment-content {
    border: solid 1px #d9d9d9;
    border-radius: 4px;
    padding: 15px;
    margin-top: 11px;
    margin-bottom: 20px;
}
.comment-delete-form {
    display: inline-block;
}
.edit-comment-form {
    padding-bottom: 20px;
}
/*コメントフォーム*/

.comment-form-icon {
    height: 35px;
    width: 35px;
}
.comment-form-title {
    display: inline-block;
    font-size: 15px;
    padding: 0 5px;
    line-height: 35px;
}
.comment-form-content {
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.comment-form-tabs {
    font-size: 0;
    border-radius: 4px 4px 0 0;
    background-color: #fafafa;
}
.comment-form-tab {
    padding: 10px 0;
    width: 100px;
    font-size: 14px;
    border: none;
    background-color: inherit;
    outline: none;
    -webkit-appearance: none;
}
.comment-form-tab:first-child {
    border-radius: 4px 0 0 0;
}
.comment-form-tab.is-active {
    background-color: #fff;
}
.comment-form-content-tab-content {
    padding: 15px;
}
.comment-form-textarea {
    width: 100%;
    border: none;
    outline: none;
}

/* 右カラム */
.snippet-right__profile > img {
    float: left;
    margin-right: 5px;
}

.snippet-right__profile > a {
    font-weight: bold;
    font-size: 16px;
}

.snippet-right__snippetList > h6 {
    margin: 15px 0;
    font-weight: bold;
}

.snippet-right__snippetList > ul {
    padding-left: 15px;
    font-size: 12px;
    /*color: #337ab7;*/
}

/*-------------------------------------
  Mypage
-------------------------------------*/
.mypage {
    padding: 40px 0;
}
.mypage-user-thumb {
    display: inline-block;
    margin-bottom: 12px;
    width: 200px;
    height: 200px;
    background-size: cover;
}
.mypage-user {
    padding-bottom: 20px;
    text-align: center;
}
.mypage-user-account {
    display: block;
    font-size: 18px;
}
.mypage-user-profile {
    display: table;
    margin-bottom: 10px;
    width: 100%;
}
.mypage-user-name {
    display: table-cell;
    padding-right: 20px;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
}
.mypage-user-edit-btn {
    display: table-cell;
    vertical-align: middle;
}
.mypage-user-snipets {
    font-size: 22px;
    font-weight: bold;
}
.tag-list {
    padding: 0;
    margin: 0;
}
.tag-list > li {
    float: left;
    margin: 0 10px 10px 0;
    list-style: none;
}
.glanceyear-content {
    overflow: hidden;
}
.mypage-snippet-area {
    margin: 0;
}
.panel {
    margin-bottom: 0;
}
.mypage-snippet-list-wrapper {
    padding-bottom: 40px;
}
.mypage-popular-list-wrapper {
    padding-bottom: 40px;
}
.mypage-stock-count {
    margin-left: 10px;
}
.mypage-knowledge-list {
    padding: 0 10px;
}
.mypage-knowledge-list > li {
    display: table;
    padding: 10px 0;
    width: 100%;
    border-top: 1px #ccc solid;
    list-style: none;
}
.mypage-knowledge-list > li:first-child {
    border-top: none;
}
.mypage-knowledge-list-info {
    display: table-cell;
    padding-left: 16px;
    width: 100%;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.mypage-knowledge-list-title {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #337ab7;
    line-height: 24px;
    text-decoration: none;
}
.mypage-knowledge-list-title:hover,
.mypage-knowledge-list-title:visited {
    color: #685987;
}
.mypage-knowledge-list-thumb {
    display: table-cell;
    width: 50px;
    height: 50px;
}
.mypage-knowledge-list-name {
    float: right;
    margin: 0 0 0 12px;
    font-size: 13px;
    font-weight: bold;
    color: #555;
}
.mypage-knowledge-list-date {
    float: right;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: bold;
    color: #555;
}

/*-------------------------------------
  Mypage Edit
-------------------------------------*/
.thumbnail-preview {
    display: inline-block;
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.nav-sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.nav-sidebar .active a {
    cursor: default;
    background-color: #428bca;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}
.nav-sidebar .active a:hover {
    background-color: #428bca;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* Right-aligned sidebar */
.nav-sidebar.pull-right {
    border-right: 0;
    border-left: 1px solid #ddd;
}
.nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.mypage-user-edit-thumb {
    height: 40px;
    width: 40px;
    float: left;
    margin-right: 15px;
}

.mypage-input-file-wrap {
    position: relative;
    display: inline-block;
    padding: 9px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
}
.mypage-input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.edit-form-wrapper {
    padding-bottom: 30px;
}

/*-------------------------------------
  Stocks
-------------------------------------*/
.stocks-wrapper {
    margin: 40px 0;
}
.user-page-header {
    padding: 1em 0;
}
.user-page-icon {
    float: left;
}
.user-page-icon img {
    height: 80px;
    width: 80px;
    margin-right: 20px;
}
.user-page-name {
    float: left;
}
.user-page-name h2{
    font-weight: 900;
}
.user-page-ribbon {
    background: #E9F8FC;
    border-bottom: solid 1px #BCD7E0;
    border-top: solid 1px #BCD7E0;
    padding: 1em 0;
}
.tag-list__tags
{
    padding: 0;
    margin: 20px 0 20px 3px;
}
.tag-list__tags > li
{
    float: left;
    margin: -1px 0 0 -1px;
    width: 33.33333%;
    border: 1px #ccc solid;
    box-sizing: border-box;
}
.tag-list__tags > li:nth-child(6n),
.tag-list__tags > li:nth-child(6n-1),
.tag-list__tags > li:nth-child(6n-2)
{
    background-color: #f9fff6;
}

.tag-list__tags > li > a
{
    display: block;
    padding: 20px 5px;
    color: inherit;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

/*-------------------------------------
  Footer
-------------------------------------*/
.global-footer {
    border-top: 1px solid #eee;
    padding: 30px;
}

.footer-form-body {
    margin-bottom: 15px;
}

.footer-form {
    min-height: 100px;
    resize: none;
}

.footer-copyright {
    margin-bottom: 10px;
}
/*-------------------------------------
  タグ検索一覧
-------------------------------------*/
.keyword-search-wrapper,
.tag-search-wrapper {
    margin: 10px 0;
    border-right: 1px solid #ccc;
}
.tag-metrics {
    background-color: #fafafa;
    border-top: solid 1px #ccc;
    display: table;
    width: 100%;
    color: #555;
}
.tag-stats-metric {
    display: table-cell;
    border-right: dotted 1px #e6e6e6;
    text-align: center;
    padding: 8px 5px;
    min-width: 60px;
}
.tag-stats-metric .count {
    font-size: 20px;
    margin-bottom: 5px;
}
.tag-stats-description {
    display: table-cell;
    padding: 6px 10px;
    vertical-align: top;
    color: #999;
}
.tag-search-section {
    padding-bottom: 20px;
}
.tag-search-section h2 {
    border-top: solid 1px #ccc;
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.event-col {
    margin: 10px;
}
.event-col-head img{
    display: inline;
    height: 50px;
    width: 50px;
}
.event-col-head span {
    font-size: 18px;
}
.event {
    padding: 10px 0;
}
.event-list {
    border-top: solid 1px #ccc;
    display: table;
    width: 100%;
    color: #fff;
}
.event-list-date {
    display: table-cell;
    background-color: #32a8ff;
    border-right: dotted 1px #e6e6e6;
    text-align: center;
    padding: 8px 5px;
    min-width: 60px;
    width: 60px;
}
.event-list-date .count {
    font-size: 20px;
    margin-bottom: 5px;
}
.event-list-description {
    display: table-cell;
    background-color: #fff;
    padding: 6px 10px;
    vertical-align: top;
    color: #999;
}
.event-address {
    display: table-cell;
    background-color: #f7f7f7;
    padding: 6px 10px;
    vertical-align: top;
    color: #555;
    font-size: 12px;
}
#bpush_button {
    display: block !important;
}
#bpush_button a {
    display: block;
    margin-bottom: 0;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
#bpush_button a:before {
    content: '通知を受け取る';
}
#bpush_button img {
    display: none;
}
/*-------------------------------------
  ユーザー一覧
-------------------------------------*/
.user-list__wrapper {
    padding: 30px 0;
}
.user-list {
    background-color: #fafafa;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    display: table;
    width: 100%;
    color: #555;
    margin: 10px 0;
}
.user-list__thumb {
    background-color: #fff;
    display: table-cell;
    border-right: dotted 1px #e6e6e6;
    text-align: center;
    padding: 8px 5px;
    width: 60px;
}
.user-list__thumb img{
    height: 50px;
    width: 50px;
}
.user-list__showInfo {
    display: table-cell;
    padding: 6px 10px;
    vertical-align: top;
    color: #999;
}
.user-list__showInfo .user-list__name {
    margin: 0;
    font-size: 20px;
}
.user-list__sns {
    display: table-cell;
}
/*-------------------------------------
  キーワード検索
-------------------------------------*/
.keyword-search-formwrapper {
    margin-bottom: 40px;
}
.keyword-search__form {
    display: table;
    width: 100%;
}
.keyword-search__textform {
    display: table-cell;
    font-size: 25px;
    height: 50px;
}
.keyword-search__form div {
    display: table-cell;
    width: 100px;
    padding-left: 17px;
    vertical-align: top;
}
.keyword-search__form div button {
    background-color: #59bb0c;
    height: 50px;
}
.keyword-search__notfound {
    margin-top: 50px;
}
.keyword-search__notfound{
    color: #999;
    font-size: 32px;
}
.keyword-search__notfoundText {
    font-size: 14px;
}
/*-------------------------------------
  Component
-------------------------------------*/
.u-mb0 {
    margin-bottom: 0 !important;
}
.btn-default.btn-noborder {
    border: none;
}
.fa {
    padding: 0 5px;
}
.u-paginate {
    padding: 15px 0;
}
.u-badge {
    margin-left: 3px;
    vertical-align: middle;
    font-size: 10px;
}
.u-tag {
    background-color: #dfdfdf;
    border-radius: 0px 2px 2px 0px;
    color: #555;
    display: inline-block;
    font-size: 85%;
    font-weight: 500;
    line-height: 1.27273;
    margin: 0 -5px 0 8px;
    padding: 1px 7px;
    position: relative;
    text-decoration: none;
}
.u-tag:before {
    border-top: 7px solid transparent;
    border-right: 8px solid #dfdfdf;
    border-bottom: 10px solid transparent;
    content: "";
    height: 0px;
    position: absolute;
    top: 0px;
    left: -8px;
    width: 0px;
}
.u-tag:after {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    content: "";
    height: 4px;
    position: absolute;
    top: 6px;
    left: -2px;
    width: 4px;
}
.service-worker {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
}
.service-worker__notify {
    margin-bottom: 5px;
    color: #838383;
}